{% extends "base.html" %}
{% block main %}
<h1 >Consultation de l'auteur {{ selectedAuteur.Nom }}</h1>
<form role="form" method="POST" action="">
    {{ viewForm.hidden_tag () }}
    <div class="form-group mb-3">
        {{ viewForm.Nom.label }} 
        {{ viewForm.Nom(size=50, disabled=True, class_="form-control") }}
    </div>
    <a href="{{ url_for('getAuteurs') }}" class="btn btn-secondary">Retour</a>
</form >

<hr>
<h2>Livres de cet auteur ({{ selectedAuteur.livres.count() }})</h2>
{% if selectedAuteur.livres.count() > 0 %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in selectedAuteur.livres %}
            <tr>
                <td>{{ livre.Titre }}</td>
                <td>{{ livre.Prix }} €</td>
                <td><a href="{{ url_for('viewLivre', idL=livre.idL) }}" class="btn btn-info">Voir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Cet auteur n'a aucun livre dans notre base de données.</p>
{% endif %}
{% endblock %}